

{% extends "base/base.html" %}

{% block title %}
  LIST PRODUCT VIEW
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_product' %}" class="btn btn-outline-success form-control">Create a New Product</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>PRODUCT NAME</th>
            <th>SUBCATEGORY</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.subcategory }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.status }}</td>
                    <td><a href="{% url 'core:detail_product' product.id %}" class="btn btn-outline-info"> Detail </a></td>
                    <td><a href="{% url 'core:update_product' product.id %}" class="btn btn-outline-warning"> Update </a></td>
                    <td><a href="{% url 'core:delete_product' product.id %}" class="btn btn-outline-danger"> Delete </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    

{% endblock content %}
